* {
    margin: 0;
    padding: 0;
}

button{
    cursor: pointer;
}

body {
    background-color: #0d0c0c;
    display: flex;
    justify-content: center;
}
.body {
    position: relative;
    
}
.onda_roxa {
    width: 1800px;
    height: auto;
}

.mascote{
    position: absolute;
    width: 242px;
    height: 212px;
    right: 22px;
    top: -10px;
}

.logo{
    position: absolute;
    height: 66px;
    width: 59.3px;
    top: 22px;
    left: 5px;
}

.frase_efeito{
    position: absolute;
    color: white;
    text-transform: capitalize;
    font-size: var(--font-size-17xl);
    font-family: var(--font-inter);
    right: 275px;
    top: 65px;
}

.nome_empresa_1{
    position: absolute;
    color: white;
    font-family: var(--font-arial);
    font-size: var(--font-size-45xl);
    left: 65px ;
    top: 20px;
}

.nome_empresa_2{
    position: absolute;
    color: white;
    font-family: var(--font-arial);
    font-size: var(--font-size-29xl);
    top: 75px;
    left: 200px;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-gray-400);
    border: 2px solid var(--color-black);
    box-sizing: border-box;
    mix-blend-mode: normal;
    width: 100%;
    height: 100px;
    margin-top: -5px;
}

.header_botao_1{
    padding-left: 10px;
    width: 281.03px;
    display: flex;
    color: var(--color-fuchsia);
    font-family: var(--font-arial);
    font-size: var(--font-size-13xl);
    justify-self: center;
    align-self: center;
    
}

.home_icon{
    width: 52px;
    height: 58.9px;
}


.header_botao_2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--color-fuchsia); 
    border-style: solid; 
    border-color: var(--color-fuchsia);
    border-radius: 20px;
    width: 75px;
    height: 54px;
    margin: 30px;
}

.simbolo_mais{
    font-size: 50px;
}

.header_botao_3{
    padding-right: 10px;
    display: flex;
    color: var(--color-fuchsia);
    font-family: var(--font-arial);
    font-size: var(--font-size-13xl);
    justify-self: center;
    align-self: center;
    

}

.login_icon{
    width: 54px;
    height: 54px;
}

.corpo{
    margin-top: 115px;
    display: flex;
    height: auto;
    justify-content: space-around;

}

.em_alta{
    width: 350px;
    height: 100%;
    padding: 15px;

    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    

    border-radius: var(--br-41xl);
    background-color: var(--color-gray-100);
    border: 2px solid var(--color-black);
    box-sizing: border-box;
    color: white;
    font-family: var(--font-arial);
    font-size: var(--font-size-13xl);
}

.em_alta ul {
    list-style-position: outside;
}

.em_alta ul li{
    margin: 25px;
}

.atuais{
    width: 1250px;
    height: 100%;
    min-height: 100px;
    padding: 40px;

    margin-bottom: 40px;

    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 30px;

    border-radius: var(--br-41xl);
    background-color: var(--color-gray-100);
    border: 2px solid var(--color-black);
    box-sizing: border-box;
    color: white;
    font-family: var(--font-arial);
    font-size: var(--font-size-13xl);
}

.post {
    width: 1145px;
    height: auto;
    padding: 15px 40px;

    border-radius: var(--br-41xl);
    background-color: var(--color-blueviolet);
    border: 2px solid var(--color-black);
    box-sizing: border-box;
    color: white;
    font-family: var(--font-arial);
    font-size: var(--font-size-13xl);
}

.post .titulo{
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;
}

.post p{
    overflow-wrap: break-word;
}

.img_post{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 130px;
    margin-top: 30px;
}

.img_post p{ /* */
    margin-right: -120px; 
}
