* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #0d0c0c;
    width: 100%;
    height: 100%;
}

.onda_roxa{
    position: absolute;
    max-width: 100%;
    background-color: #0d0c0c;
}

.mascote{
    position: absolute;
    width: 242px;
    height: 212px;
    right: 22px;
}

.mascote_div{
    max-width: 100%;
}

.frase_efeito{
    position: absolute;
    color: white;
    text-transform: capitalize;
    font-size: var(--font-size-17xl);
    font-family: var(--font-inter);
    right: 275px;
    top: 65px;
}

.logo{
    position: absolute;
    height: 66px;
    width: 59.3px;
    top: 22px;
    left: 5px;
}

.nome_empresa_1{
    position: absolute;
    color: white;
    font-family: var(--font-arial);
    font-size: var(--font-size-45xl);
    left: 65px ;
    top: 20px;
}

.nome_empresa_2{
    position: absolute;
    color: white;
    font-family: var(--font-arial);
    font-size: var(--font-size-29xl);
    top: 75px;
    left: 200px;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    background-color: var(--color-gray-400);
    border: 2px solid var(--color-black);
    box-sizing: border-box;
    mix-blend-mode: normal;
    width: 100%;
    height: 100px;
    top:203px;
}

.header_botao_1{
    width: 281.03px;
    display: flex;
    color: var(--color-fuchsia);
    font-family: var(--font-arial);
    font-size: var(--font-size-13xl);
    justify-self: center;
    align-self: center;
    
}

.home_icon{
    width: 52px;
    height: 58.9px;
}


.header_botao_2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--color-fuchsia); 
    border-style: solid; 
    border-color: var(--color-fuchsia);
    border-radius: 20px;
    width: 75px;
    height: 54px;
    margin: 30px;
}

.simbolo_mais{
    font-size: 50px;
}

.header_botao_3{
    display: flex;
    color: var(--color-fuchsia);
    font-family: var(--font-arial);
    font-size: var(--font-size-13xl);
    justify-self: center;
    align-self: center;
    

}

.login_icon{
    width: 54px;
    height: 54px;
}

