.novo_post {
    display:flex; 
    align-items: center;
    flex-direction: column;

    height: 100%;

    gap: 28px;
}

.novo_post input{
    font-size: 32px;
    color: white;

    width: 577px;

    padding: 20px 25px;

    border-radius: 79px;
    border: 0px;
    background-color: var(--color-blueviolet);
}

.novo_post textarea {
    resize: none;

    width: 1050px;
    height: 200px;
    
    padding: 20px 50px;
    
    font-size: 32px;
    line-height: 40px;
    color: white;
    
    border-radius: 79px;
    border: 2px solid var(--color-black);
    background-color: var(--color-blueviolet);
}


.novo_post button{
    border: none;
    appearance: none;
    background-color: inherit;
}

.post_comment{
    width: 1145px;
    height: auto;
    padding: 15px 40px;

    border-radius: var(--br-41xl);
    background-color: var(--color-blueviolet);
    border: 2px solid var(--color-black);
    box-sizing: border-box;
    color: white;
    font-family: var(--font-arial);
    font-size: var(--font-size-13xl);
}

.post_comment .titulo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    margin-bottom: 50px;
}
